<div class="hero">
    <h1>Phylicia is brilliant!</h1>
</div>

<div class="container">
    
    <div class="copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, eum, nam, fugiat, ratione quas eos officiis mollitia ex doloribus accusantium dolorum ullam repellendus quasi excepturi vitae dolores eveniet magnam expedita itaque at incidunt aut nesciunt atque accusamus laborum alias ut possimus aperiam porro id delectus impedit molestiae distinctio debitis architecto molestias provident sit quis asperiores quae ea libero ducimus explicabo sunt obcaecati ipsam. Ipsum, qui, saepe numquam exercitationem facere aperiam voluptas repellat culpa commodi libero illo praesentium laudantium blanditiis omnis maiores velit quas nobis autem sunt itaque veritatis! Libero, sequi cum asperiores debitis officia esse atque iure vero molestiae quam.</p>
    </div>

    <div class="copy row"> 
        <div class="col-sm-6">
            <img src="http://hotel-agora-paris.com/wp-content/uploads/2013/04/hotel-agora-paris3.jpg" alt="love lock bridge" class="image" />
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, beatae, corporis, quo dolorem natus voluptatem explicabo quas in porro possimus animi mollitia illo quos illum magni nam quam veritatis esse.
            </div>
        </div>
        <div class="col-sm-6">
            <img src="http://www.purple-papaya-films.com/upload/image/Paris%20Landmarks/Le-Pont-Alexandre-III-Pont-Paris.jpg" alt="bridge in paris" class="image" />
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, ea, veniam, commodi consequuntur ullam molestiae et ducimus a nesciunt tempora quaerat adipisci architecto doloribus officiis quasi explicabo deleniti temporibus distinctio.
            </div>
        </div>
  </div>
  
    <div class="copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, eum, nam, fugiat, ratione quas eos officiis mollitia ex doloribus accusantium dolorum ullam repellendus quasi excepturi vitae dolores eveniet magnam expedita itaque at incidunt aut nesciunt atque accusamus laborum alias ut possimus aperiam porro id delectus impedit molestiae distinctio debitis architecto molestias provident sit quis asperiores quae ea libero ducimus explicabo sunt obcaecati ipsam. Ipsum, qui, saepe numquam exercitationem facere aperiam voluptas repellat culpa commodi libero illo praesentium laudantium blanditiis omnis maiores velit quas nobis autem sunt itaque veritatis! Libero, sequi cum asperiores debitis officia esse atque iure vero molestiae quam.</p>
    </div>

<div class="hero2">
    <h1>Explore new places!</h1>
</div>

    <div class="content">
        <%= render 'notes/latest_note' %>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, animi voluptatem tempora corporis consectetur autem ipsam nostrum eum reiciendis veniam recusandae quisquam nemo similique sapiente doloribus iste veritatis rerum rem?</div>
        <div>Facere, quia, ab magnam qui tempora fugiat ducimus sed dolorum nam inventore. Nemo, corrupti, adipisci, placeat harum dicta esse unde recusandae corporis illo qui facere optio quae quibusdam culpa ipsam?</div>
        <div>Atque, nihil, nulla, repudiandae, quidem similique sequi odit repellendus eius quas consequatur distinctio quibusdam modi magni optio ad adipisci harum in ipsa non quae quaerat accusantium eligendi architecto perspiciatis eveniet.</div>
        <div>A, labore, nobis aspernatur harum qui consequuntur! Pariatur, officia, suscipit, velit hic accusantium similique sequi ad expedita et dicta vel deserunt est aut illum aperiam sit ipsum officiis quidem necessitatibus.</div>
        <div>Ipsum, nesciunt, consequuntur, facilis nulla dolorem ea optio molestias autem beatae laborum nam porro recusandae aliquid sit repudiandae fuga aliquam neque itaque aperiam eius. Eius, odit est temporibus fugit saepe!</div>
    </div>
    
    <div class="hero3">
    <h1>Relaxation!</h1>
    
    <p class="long-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, tempora, doloribus, beatae accusamus pariatur cupiditate iure non est dicta eveniet dolores maiores labore molestias commodi doloremque molestiae autem ratione. Perspiciatis, explicabo quia velit ducimus aliquid nostrum alias enim libero animi ad quasi neque fuga rem debitis doloremque soluta totam odit nulla temporibus perferendis nisi ratione ab sapiente officia inventore tenetur suscipit. Labore, quam, assumenda, sunt ut totam aperiam voluptates placeat fuga dolorem minima commodi quisquam natus! Excepturi, laudantium dignissimos cum ducimus aperiam itaque tempore totam quis recusandae impedit accusantium nostrum beatae facilis veniam fugiat sequi minus neque eligendi molestiae tempora alias mollitia rem odit asperiores illum velit optio perspiciatis explicabo consectetur voluptatibus reprehenderit laboriosam nemo pariatur unde doloremque commodi numquam quia. Ab, quae, quia, vel, eos hic consectetur tenetur placeat reprehenderit similique modi numquam ex nesciunt obcaecati maxime doloremque dolor soluta! Architecto, minus, velit, ipsam eveniet temporibus dignissimos sint deleniti doloribus perferendis repudiandae voluptates placeat debitis quae. Ducimus, molestias, nisi dolore dignissimos praesentium eligendi quisquam soluta recusandae nobis consectetur? Similique ratione expedita minus doloremque vero! Minus, optio, velit voluptas asperiores minima reiciendis magnam temporibus eaque placeat officia dolore assumenda alias. Autem, vero assumenda corporis quaerat excepturi debitis sed porro ipsam deleniti omnis officiis odit cupiditate tempora! Voluptas, neque pariatur blanditiis eaque dignissimos beatae sapiente corporis quae enim asperiores repudiandae sunt explicabo dolorum esse amet voluptatibus aspernatur veritatis ut similique voluptatum nesciunt assumenda id modi tempore ea vero ducimus a culpa facilis consectetur dolorem cumque odio eligendi. Ut, repellendus dolorum ipsum earum facilis libero similique? Laborum, corrupti quibusdam animi eos dolorem architecto quasi. Veritatis, ullam, iure asperiores iusto rerum odio hic ipsum temporibus cupiditate neque nobis reiciendis tempora exercitationem quis recusandae eos quaerat. Quis unde reiciendis nisi cupiditate ex consequatur aut? Fugit, maxime, quas, incidunt, voluptatibus deserunt impedit assumenda aspernatur beatae magni enim est non optio dolores corrupti voluptate vitae a officia rerum libero asperiores cum repellendus architecto autem ex animi tempore perferendis porro provident necessitatibus perspiciatis voluptates totam veniam fuga nobis reprehenderit quam laboriosam mollitia nihil atque temporibus id ipsum rem blanditiis inventore voluptas sint! Nihil, quod, similique, voluptas nulla rerum repellat praesentium officiis adipisci culpa optio minima quaerat sequi odit quo voluptatibus doloremque necessitatibus provident in non tempore dolorum nam veritatis sapiente fugiat aliquam neque animi molestiae corporis dolore itaque quos doloribus est laudantium? Modi, saepe, deleniti, rerum quod obcaecati vero dicta doloribus nesciunt ab a illum expedita labore nobis. Quidem, nisi, illum, odit, a quibusdam ea porro aperiam ducimus consequatur illo deserunt accusamus quisquam optio saepe voluptatem. Necessitatibus aut distinctio illo dolor ab. Impedit, veritatis, aperiam, excepturi enim rem necessitatibus odit repudiandae quam obcaecati eius ab autem temporibus hic repellendus doloribus inventore accusantium perspiciatis nihil cum fuga illum laborum id maiores dolorem explicabo est ipsam ad aut maxime expedita sunt ipsum iure quidem facilis at odio aliquam sint laboriosam sequi consectetur? Dolorem, praesentium, ipsa, animi, placeat magnam doloremque porro tenetur qui maxime quibusdam perferendis expedita nobis est recusandae voluptatem reprehenderit aspernatur. Illo deleniti ipsam error ab consequatur quaerat!
    </p>
</div>
    
</div>


